*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

/* Colors */
:root {
  --primary-bg-clr: #dce4ef;
  --primary-bg-hover: rgba(220, 228, 239, 0.3);
  --secondary-bg-clr: #205493;
  --secondary-bg-hover: #1f5ba5;

  --btn-clr: #02bfe7;
  --btn-imp-clr: #e31c3d;
  --btn-imp-hover: #cd2026;

  --primary-fnt-clr: #333;
  --secondary-fnt-clr: #112e51;
}

/* Fonts */
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fs-s: 1rem;
  --fs-m: 2rem;
  --fs-lg: 3rem;
}

/* Size & gutters */
:root {
  --pd-s: 1rem;
  --pd-md: 2rem;
  --pd-lg: 4rem;

  --wd-full: 100%;
  --wd-wide: 1200px;
  --wd-large: 1000px;
  --wd-md: 800px;
  --wd-sm: 400px;

  --gutter: 1rem;
  --gutter-s: 0.5rem;
  --gutter-md: 2rem;
  --gutter-lg: 3rem;
}

/* Others */
:root {
  line-height: 1.5;
  --shadow: 0rem 0rem 3rem var(--dark-clr);
  --border-radius: 5px;
}

@media screen and (max-width: 600px) {
  :root {
    --primary-bg-hover: transparent;
  }
}
/* ****************** */
/* ****************** */
/* ****************** */
